<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="shortcut icon" href="/img/logo.ico">
    <title>iBiomed Society</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.css" rel="stylesheet">
    <style type="text/css">
      p {
        line-height: 1.8;
        text-align: justify;
        text-indent: 10%;
      }
      .copyright {
        transform:translateX(-35px);
      }
    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="img/logo.png" width="45" height="45"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meet">The Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/administration">Administration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student-life">Student Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/banner.jpg');background-size: Auto 300px; background-color:white;"> <!-- background-size:1300px 600px; -->
      <div class="overlay"></div><!-- home-bg.jpg-->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="color:white" style="color:#fc7474;">iBioMed Society</h1>
              <span class="subheading" style="color:white" style="color:#fc7474;">Official Student Society of McMaster's IBEHS Program</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h2 class="section-heading">Who are We?</h2>
            <p>
              The iBioMed Society (iBMS) is a student-run, non-profit organization dedicated to enhancing the university experience of students enrolled in the Integrated Biomedical Engineering and Health Sciences (IBEHS) program at McMaster University. Inaugurated in 2018 by its first cohort of first-year students, the iBioMed Society was built upon a foundation of integrity with a strong community in mind. By offering students a wide range of academic, professional and networking events, the iBMS aims to facilitate a sustainable community established on unity, collaboration, and acceptance. In doing so, the iBMS intends to craft a unique identity for the IBEHS program and student body, while strengthening its ties to both Engineering and Health Sciences communities at McMaster University. The iBMS is proud to serve the needs of its excellent student body while also encouraging it to develop meaningful connections all over campus and beyond.
            </p>

            <h2 class="section-heading">Want to Get Involved?</h2>

            <p>
              Interested in getting involved with the iBioMed Society? There are many ways to become an executive on the iBioMed Society. Please send an email to our <a href="mailto:i-biomed@macengsociety.ca" >MES representative</a> detailing your interest in getting involved.
            </p>
            
          </div>
        </div>
      </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/ibiomedsociety/?hl=en">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/ibiomedsociety/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/ibiomedsociety/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted" >Copyright &copy; iBiomed Society 2018-2019</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/clean-blog.min.js"></script>

  </body>

</html>
